.logo svg {
    width: 130px;
    height: 75px;

    transition: margin-right linear 0.5s;
}

.logo {
    transition: margin-right linear 0.5s;
}

.logo--active {
    margin-right: 200px;
    transition: margin-right linear 0.5s;
}

@media (min-width: $tabletWidth) {
    .logo svg {
        width: 200px;
        height: 85px;
        transition: margin-right linear 0.5s;
    }

    .logo--active {
        margin-right: 300px;
        transition: margin-right linear 0.5s;
    }

}

@media (min-width: $desktopWidth) {
    .logo {
        margin-bottom: 40px;

        & svg {
            width: 350px;
            height: 150px;
        }
    }
}