.footer-inner {
    position: relative;
    display: flex;

    // align-items: center;
    justify-content: center;

    // max-width: 2560px;
}

.footer-inner .logo {
    margin-top: 10px;
    margin-bottom: 24px;

    & svg {
        width: 130px;
    }
}

.footer-inner .social {
    // margin-top: 18px;

    & svg {
        width: 47px;
        height: 47px;
    }
}

@media (min-width: $tabletWidth) {
    .footer-inner .logo {
        margin-top: 10px;
        margin-bottom: 24px;

        & svg {
            width: 200px;
        }
    }

    .footer-inner .social {
        // margin-top: 18px;

        & svg {
            width: 68px;
            height: 68px;
        }
    }
}

@media (min-width: $desktopWidth) {

    .footer-inner {
        display: flex;
        flex-direction: row;
        // flex-direction: row;
        align-items: unset;
        // justify-content: flex-start;
        justify-content: space-between;
        // min-width: 1280px;
        // max-width: 2560px;
    }

    .footer-inner .logo {
        margin: 0;
        margin-left: 50px;

        & svg {
            width: 126px;
        }
    }

    .footer-inner .social {
        margin: 0;
        // margin-left: 124px;

        & svg {
            width: 100px;
            height: 100px;
        }
    }

    .footer-inner .contact {

        width: 400px;
        // background-color: #fff;
    }

    .footer-inner .map {
        display: none;
//         margin-bottom: 10px;
//         margin-top: 10px;
    }
}