.header-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
}

@media(max-width: $desktopWidth) {
    .header-inner {
        position: fixed;
        display: flex;
        top: 0;
        left: 0;

        justify-content: center;
        z-index: 200;


        min-height: 100px;
        background: $neutral-placeholder;

        transition: min-height linear .3s;
    }

    .header-inner--active {
        min-height: 155px;
        transition: min-height linear .3s;
    }
}