.header-inner {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;

    background-color: $default-color;
}

@media(max-width: $desktopWidth) {
    .header-inner {
        position: fixed;
        top: 0;
        left: 0;

        z-index: 100;
        min-height: 100px;
        transition: min-height linear .5s;
    }

    .header-inner--active {
        min-height: 180px;
        transition: min-height linear 0.5s;
    }

}