.main-quote {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    // align-items: center;
    // width: 80%;

    margin: 0 auto;
    margin-bottom: 40px;

    max-width: 960px;

    // background-color: rgb(147, 248, 206);
}

.main-quote__text {
    font-size: $font-size-medium;
    line-height: 29px;

    // margin:  0 57px;

    // width: 80%;

    margin-left: 10px;
    margin-right: 10px;

    // background-color: rgb(250, 242, 128);
}

.main-quote__autor {
    line-height: 39px;
    margin-right: 10px;
    text-align: right;
}

@media (min-width: $tabletWidth) {
    .main-quote__text {
        font-size: $font-size-default;
    }

    .main-quote__autor {
        font-size: $font-size-smBig;
    }
}

@media (min-width: $desktopWidth) {
    .main-quote__text {
        font-size: $font-size-default;
    }

    .main-quote__autor {
        font-size: $font-size-smBig;
    }
}