.main-blocks {
    display: flex;
    justify-content: center;
    width: 100%;

    margin-bottom: 40px;

    position: relative;

    cursor: pointer;
}

.main-blocks__list {
    display: flex;
    flex-direction: column;

    width: 80%;
    max-width: $tabletWidth;

    position: relative;
}

.main-blocks__item {
    min-height: 420px;

    opacity: 0.7;

    position: relative;

    cursor: pointer;

    overflow: hidden;

    &:hover>.main-blocks__slide {
        // при ховере действия происходят в другом блоке
        animation-name: bounce;
        animation-duration: 0.7s;
        animation-fill-mode: forwards; // не дает вернуться обратно 
        cursor: pointer;
    }

    &:hover>.main-blocks__hide {
        animation-name: bounce-one; // подключает анимацию
        animation-duration: 1s; // время действия анимации
        animation-fill-mode: forwards; // не дает вернуться в исходное положение пока действует ховер 

        opacity: 1;
        transition: 2s;
        cursor: pointer;
    }
}

.main-blocks__slide {
    align-items: center;

    width: 100%;

    position: absolute;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

.main-blocks__hide {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;

    transform: translate(-50%, 150%); // блок скрыт

    opacity: 0;
}

.main-blocks__slide-icon {
    display: flex;
    margin-bottom: 40px;
    justify-content: center;
    & svg {
        color: #fff;
        width: 80px;
        height: 80px;
    }
}



.main-blocks__slide-head {
    text-align: center;
    color: $default-color;
    font-size: $font-size-medium;
    line-height: 1.3em;
    text-transform: uppercase;

    padding-left: 52px;
    padding-right: 52px;
}

.main-blocks__hide-text {
    text-align: center;

    padding-left: 22px;
    padding-right: 22px;

    padding-bottom: 10px;

    font-family: $secondary-font, serif;
    font-size: $font-size-default;
}

.main-blocks__hide-button {
    width: 100px;
    min-height: 30px;

    margin: 5px;
    border-radius: 1px;
    background-color: $success-color;

    color: $default-color;
    text-transform: uppercase;
    font-size: $font-size-smaller;
    font-weight: 900;

    cursor: pointer;

    &:hover {
        background-color: $warning-color;
        border: 2px solid $default-color;
    }
}

.main-blocks__item--first {
    background-color: rgb(253, 224, 224);
}

.main-blocks__item--second {
    background-color: rgb(192, 255, 211);
}

.main-blocks__item--third {
    background-color: rgb(203, 206, 253);
}

@media (min-width: $desktopWidth) {
    .main-blocks__list {
        flex-direction: row;
        justify-content: center;
    }

    .main-blocks__item {
        min-width: 335px;
        min-height: 420px;
        margin: 0 10px;
    }

    .main-blocks__hide-button {
        width: 175px;
        min-height: 50px;
    }
}

@keyframes bounce {
    0% {
        transform: translate(-50%, -50%);
    }

    20% {
        transform: translate(-50%, -40%);
    }

    80% {
        transform: translate(-50%, -150%);
    }

    100% {
        transform: translate(-50%, -140%);
    }
}

@keyframes bounce-one {
    0% {
        transform: translate(-50%, 150%);
    }

    60% {
        transform: translate(-50%, -30%);
    }

    100% {
        transform: translate(-50%, -10%);
    }
}