.main {
    display: flex;
    flex-direction: column;

    max-width: 2800px;
    margin: 0 auto;

    // transition: transform 0.3s linear;
}
// ##############################--DESKTOP--##########################
// @media(max-width: $desktopWidth) {
//     .main--active {
//         transform: translateX(-60%);
//         transition: transform 0.3s linear;
//     }
// }