.powered-by {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    margin-right: 8px;
    margin-bottom: 6px;

    line-height: 1.15;

    color: $default-color;
}

.powered-by__head {
    font-size: 6px;
}

.powered-by__link {
    display: flex;
    color: $default-color;
    text-decoration: none;
    text-align: center;

    align-items: center;

    &:hover {
        color: red;
    }

}

.powered-by__name {
    font-size: 6px;
}

.powered-by__avatar {
    width: 10px;
    height: 10px;
}

@media (min-width: $tabletWidth) {
    .powered-by {
        margin-right: 16px;
        margin-bottom: 8px;
    }

}

@media (min-width: $desktopWidth) {
    .powered-by {
        margin-right: 26px;
        margin-bottom: 22px;
    }

    .powered-by__head {
        font-size: 12px;
    }

    .powered-by__name {
        font-size: 14px;
    }

    .powered-by__avatar {
        width: 26px;
        height: 26px;
    }

}